process {
    withName:quast {
        machineType='n1-standard-8'
        disk='100 GB'
    }

    withName:rasusa {
        machineType='n1-standard-16'
        disk='100 GB'
    }

    withName:flye_assembly {
        machineType='n1-standard-32'
        disk='250 GB'
    }

    withName:canu_assembly {
        machineType='n1-standard-32'
        disk='250 GB'
    }

    withName:miniasm_assembly {
        machineType='n1-standard-32'
        disk='250 GB'
    }

}