process {

    withName:quast {
        cpus = 8
        memory = 24.GB
        time = 10.h        
    }

    withName:rasusa {
        cpus = 16
        memory = 48.GB
        time = 10.h        
    }

    withName:flye_assembly {
        cpus = 32
        memory = 96.GB
        time = 24.h        
    }

    withName:canu_assembly {
        cpus = 32
        memory = 96.GB
        time = 24.h        
    }

    withName:miniasm_assembly {
        cpus = 32
        memory = 96.GB
        time = 24.h        
    }

}