process {

    withName:quast {
        cpus = 8
        memory = 24.GB
        time = '10h'        
    }

    withName:random_subset {
        cpus = 16
        memory = 64.GB
        time = '10h'       
    }

    withName:flye_assembly {
        cpus = 38
        memory = 192.GB
        time = '24h'        
    }

    withName:canu_assembly {
        cpus = 38
        memory = 192.GB
        time = '24h'        
    }

    withName:miniasm_assembly {
        cpus = 38
        memory = 192.GB
        time = '24h'        
    }

}