singularity.enabled=true
singularity.autoMounts=true
docker.enabled=false 

process {
    executor='slurm'
    queue= 'p_lemenzad'
    pollInterval='5 min'
    dumpInterval='6 min'
    queueStatInterval='5 min'
    exitReadTimeout='10 min'
    submitRateLimit='10 min'
    queueSize=15

    withName:quast {
        cpus = 8
        memory = 24.GB
        time = '10h'        
    }

    withName:rasusa {
        cpus = 16
        memory = 64.GB
        time = '10h'       
    }

    withName:flye_assembly {
        cpus = 32
        memory = 96.GB
        time = '24h'        
    }

    withName:canu_assembly {
        cpus = 32
        memory = 96.GB
        time = '24h'        
    }

    withName:miniasm_assembly {
        cpus = 32
        memory = 96.GB
        time = '24h'        
    }
}